PORT=5000
MONGODB_URI=mongodb://localhost:27017/justicenow

# Firebase Admin SDK settings
# You can either provide the path to your service account JSON file:
FIREBASE_SERVICE_ACCOUNT_PATH=./config/firebaseServiceAccountKey.json

# OR provide individual values from the JSON:
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com
